﻿.ui-datepicker
{
    display: none;
    font-size: 14px;
    padding: 4px !important;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

    .ui-datepicker .ui-datepicker-header
    {
        background: none;
        border: none;
        position: relative;
        clear: both;
    }

    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next
    {
        position: absolute;
        top: 2px;
        cursor: pointer;
    }

    .ui-datepicker .ui-datepicker-prev
    {
        left: 2px;
    }

    .ui-datepicker .ui-datepicker-next
    {
        right: 2px;
    }

    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next,
    .ui-datepicker .ui-datepicker-title
    {
        text-align: center;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 4px 5px;
        font-weight: bold;
        border: none;
    }

    .ui-datepicker .ui-datepicker-title
    {
        width: 145px;
        margin: auto;
        margin-top: 2px;
        padding-top: 5px;
        padding-bottom: 2px;
    }

    .ui-datepicker .ui-datepicker-prev:hover
    {
        left: 2px;
    }

    .ui-datepicker .ui-datepicker-next:hover
    {
        right: 2px;
    }

    .ui-datepicker .ui-datepicker-prev:hover,
    .ui-datepicker .ui-datepicker-next:hover,
    .ui-datepicker .ui-datepicker-title:hover
    {
        background: #EEE;
        border: none;
        top: 2px;
    }

    .ui-datepicker .ui-datepicker-prev span,
    .ui-datepicker .ui-datepicker-next span
    {
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("images/glyphicons-halflings.png");
        background-position: 14px 14px;
        background-repeat: no-repeat;
        margin-top: 3px;
    }

    .ui-datepicker .ui-datepicker-prev span
    {
        background-position: -240px -96px;
    }

    .ui-datepicker .ui-datepicker-next span
    {
        background-position: -264px -96px;
    }


    .ui-datepicker .ui-datepicker-title span
    {
        padding-top: 2px;
    }

    .ui-datepicker th
    {
        text-align: center;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 4px 5px;
    }

    .ui-datepicker td
    {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

        .ui-datepicker td:hover
        {
            border-color: #EEE;
        }



        .ui-datepicker td span,
        .ui-datepicker td a
        {
            text-align: center;
            width: 20px;
            height: 20px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            display: block;
            text-decoration: none;
            padding: 4px 5px;
            color: #333;
        }

        .ui-datepicker td span
        {
            color: #999;
        }

        .ui-datepicker td a:hover
        {
            background: #EEE;
        }

        .ui-datepicker td a.ui-state-active
        {
            background-color: #04C;
            color: white;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
