﻿@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exchange Rates</title>
    @Styles.Render("~/Styles")
    @Scripts.Render("~/Scripts")
    <style>
        #body {
            margin-top: 60px;
        }
    </style>
</head>
    <body>
        <div id="menu">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">Exchange rates</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="body">
        
            @RenderBody()
        </div>
    </body>
</html>
